<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_frame">

    <xacro:macro name="frame">

        <!--xacro:include filename="$(find mecanum_robot_description)/urdf/omni_manipulator.gazebo.xacro" /!-->
        <xacro:property name="base_offset" value="0.19458"/> <!-- 0.193608 !-->
		
        <link name="summit_base_footprint">
		  <visual>
			  <origin xyz="0 0 0" rpy="0 0 0" />
			  <geometry>
				 <box size="0.001 0.001 0.001" />
			  </geometry>
		  </visual>
		</link>

		<joint name="summit_base_footprint_joint" type="fixed">
		  <origin xyz="0 0 ${base_offset}" rpy="0 0 0" /> <!-- ${wheel_radius} property must be defined inside wheel description -->
		  <parent link="summit_base_footprint"/>
		  <child link="frame" />
		</joint>

        <link name="frame">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${-pi/2}"/>
                <geometry>
                    <mesh filename="package://mecanum_robot_description/meshes/frame_c.stl" scale="0.001 0.001 0.001"/>         
                </geometry>
                <material name="white">
                    <color rgba="1.0 1.0 1.0 1.0"/>    
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${pi/2} 0.0 ${-pi/2}"/>
                <geometry>
                    <mesh filename="package://mecanum_robot_description/meshes/frame_c.stl" scale="0.001 0.001 0.001"/>         
                </geometry>
            </collision>
            <inertial>
                <mass value="20.781" /> <!--20.781-->
                <origin xyz="0 0 0" rpy="${pi/2} 0.0 ${-pi/2}"/>
                <inertia ixx="7.973347e-01" ixy="1.934100e-05"  ixz="4.964300e-05"  iyy="1.264450e+00"  iyz="5.698240e-04"  izz="5.376963e-01" />
            </inertial>
        </link>

        <gazebo reference="frame">
            <mu1 value="1.0"/>
            <mu2 value="1.0"/>
            <kp value="10000000.0" />
            <kd value="1.0" />
            <maxVel>0.001</maxVel>
            <minDepth>0.0001</minDepth>
            <turnGravityOff>false</turnGravityOff>
            <material>Gazebo/White</material>
        </gazebo>

    </xacro:macro>
</robot>