<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="omni_steering" params="">
	<gazebo>
	    <plugin name="omni_steering" filename="libgazebo_ros_planar_move.so">
	      <commandTopic>mecanum_1_vel</commandTopic>
	      <odometryTopic>odom</odometryTopic>
	      <odometryFrame>odom</odometryFrame>
	      <odometryRate>50.0</odometryRate>
	      <robotBaseFrame>base_footprint</robotBaseFrame>
	      <publishTF>false</publishTF>
	    </plugin>
		<material>Gazebo/DarkGrey</material>
	</gazebo>
  </xacro:macro>
  
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <controlPeriod>0.001</controlPeriod>
      <robotNamespace>/mecanum_1</robotNamespace>
      <jointName>front_R_wheel_joint, front_L_wheel_joint, back_R_wheel_joint, back_L_wheel_joint </jointName>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

  

</robot>
