<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_frame">

    <xacro:macro name="frame">

        <xacro:property name="base_offset" value="0.19458"/> <!-- 0.193608 !-->
		
        <link name="summit_base_footprint">
		  <visual>
			  <origin xyz="0 0 0" rpy="0 0 0" />
			  <geometry>
				 <box size="0.001 0.001 0.001" />
			  </geometry>
		  </visual>
		</link>

		<joint name="summit_base_footprint_joint" type="fixed">
		  <origin xyz="0 0 ${base_offset}" rpy="0 0 0" /> 
		  <parent link="summit_base_footprint"/>
		  <child link="frame" />
		</joint>

        <link name="frame">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0"/> <!--xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 ${-pi/2}" -->
                <geometry>
                    <mesh filename="package://mecanum_robot_description/meshes/frame_c.stl" scale="0.001 0.001 0.001"/>         
                </geometry>
                <material name="white">
                    <color rgba="1.0 1.0 1.0 1.0"/>    
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.64 0.598 0.2"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="100.781" /> <!--20.781-->
                <origin xyz="0 0 0" rpy="${pi/2} 0.0 ${-pi/2}"/>
                <inertia ixx="3.9866734999999998" ixy="9.6705e-05"  ixz="0.000248215"  iyy="6.32225"  iyz="0.00284912"  izz="2.6884815" />
            </inertial>
        </link>


        <joint name="camera_body_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="frame"/>
            <child link="tennis_robot_net" />
          </joint>

        <link name="tennis_robot_net">
            <inertial>
                <origin
                    xyz="0.15 0 0.585"
                    rpy="0 0 0" />
                <mass
                    value="1" />
                <inertia
                    ixx="0.003958333"
                    ixy="0"
                    ixz="0"
                    iyy="0.003958333"
                    iyz="0"
                    izz="0.02" />
            </inertial>
            
            <visual>
                <origin
                    xyz="0.15 0 0.585"
                    rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://mecanum_robot_description/meshes/net500x450.stl" scale="0.01 0.01 0.01"/>  
                </geometry>
                <material
                    name="">
                    <color
                    rgba="0.84706 0.83922 0.83922 1" />
                </material>
            </visual>

            <collision>
                <origin
                    xyz="0.15 0 0.585"
                    rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://mecanum_robot_description/meshes/net500x450.stl" scale="0.01 0.01 0.01"/>  
                </geometry>
            </collision>
        </link>

        <joint name="camera_joint_0" type="fixed">
            <origin xyz="0.05 0 1.02" rpy="0 0 0"/>
            <parent link="frame"/>
            <child link="camera_link"/>
        </joint>
        

        <link name="camera_link">
            <visual>
                <origin xyz="0.1 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.03 0.2 0.1" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.1 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.03 0.2 0.1" />
                </geometry>
            </collision>   
        </link>

        <gazebo reference="frame">
            <mu1 value="1.0"/>
            <mu2 value="1.0"/>
            <kp value="10000000.0" />
            <kd value="1.0" />
            <maxVel>0.001</maxVel>
            <minDepth>0.001</minDepth>
            <turnGravityOff>false</turnGravityOff>
            <material>Gazebo/White</material>
        </gazebo>

        <gazebo reference="tennis_robot_net">
            <mu1 value="1.0"/>
            <mu2 value="1.0"/>
            <kp>100000000</kp>
            <kd>100000000</kd>
            <max_vel>0</max_vel>
            <min_depth>0</min_depth>
            <turnGravityOff>false</turnGravityOff>
            <material>Gazebo/grey</material>
        </gazebo>

        <gazebo reference="camera_link">
            <sensor name="mecanum_camera_ir" type="depth">
              <update_rate>0</update_rate>
              <camera>
                <horizontal_fov>1.5708</horizontal_fov>
                <vertical_fov>1.02974</vertical_fov>
                <image>
                  <width>640</width>
                  <height>360</height>
                  <format>R8G8B8</format>
                </image>
                <clip>
                  <near>0.1</near>
                  <far>100</far>
                </clip>
              </camera>
              <plugin name="mecanum_camera_ir_controller" filename="libgazebo_ros_openni_kinect.so">
                <baseline>0.1</baseline>
                <alwaysOn>false</alwaysOn>
                <update_rate>0</update_rate>
                <cameraName>mecanum_camera_ir</cameraName>
                <imageTopicName>mecanum_camera_ir/color/image_raw</imageTopicName>
                <cameraInfoTopicName>/mecanum_camera_ir/color/camera_info</cameraInfoTopicName>
                <depthImageTopicName>/mecanum_camera_ir/depth/image_raw</depthImageTopicName>
                <depthImageInfoTopicName>/mecanum_camera_ir/depth/camera_info</depthImageInfoTopicName>
                <pointCloudTopicName>/mecanum_camera_ir/depth/points</pointCloudTopicName>
                <frameName>camera_link</frameName>
                <pointCloudCutoff>0.1</pointCloudCutoff>
                <pointCloudCutoffMax>15.0</pointCloudCutoffMax>
                <distortionK1>0.00000001</distortionK1>
                <distortionK2>0.00000001</distortionK2>
                <distortionK3>0.00000001</distortionK3>
                <distortionT1>0.00000001</distortionT1>
                <distortionT2>0.00000001</distortionT2>
                <!-- <CxPrime>0</CxPrime>
                <Cx>640</Cx>
                <Cy>360</Cy>
                <focalLength>639.9976491530514</focalLength> -->
                <hackBaseline>0</hackBaseline>
              </plugin>
            </sensor>
          </gazebo>

    </xacro:macro>
</robot>
